*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 425px;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

ul,
li {
    list-style: none outside none;
}

.wrapper {
    background-color: #eeeeee;
    max-width: 100%;
    height: 100vh;
}

.bg-photo {
    background: url(/images/bg-lawer1.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.avatar img {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 10px solid rgba(236, 154, 0, 0.4);
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 154, 0, 0.4);
    color: #fffcf7;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    letter-spacing: 1px;
    font-weight: 100;
}

.card-info h3 {
    font-size: 2em;
    border-bottom: 1px solid #fff;
    margin: 15px;
}

.card-info p {
    margin-top: 5px;
}

.card-info .logo-jus {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    height: auto;
    border-radius: 0;
    border: 0;
}

.overlay {
    position: absolute;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 90%;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-self: center;
    width: 90%;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    height: 60vh;
    margin-top: 40px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px #c9c9c9;
    z-index: 5;
}

.box-content div {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(255, 255, 255);
    max-width: 85%;
}

.box-content h1 {
    font-size: 1.3em;
    padding: .5rem;
}

small {
    display: flex;
    justify-content: flex-end;
    font-size: .8rem;
    padding: .5rem;
    float: right;
}

.box-content p {
    margin-top: 15px;
    line-height: 1.2em;
    font-size: .8em;
}

.box-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 108, 179);
    border-radius: 10px;
    box-shadow: 1px 1px 8px #c9c9c9;
    height: 60vh;
    width: 50%;
    margin: 40px;
    color: #ccc;
}

.box-contact div {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.box-contact img {
    max-width: 30vw;
    margin: 20px auto;
}

footer {
    position: relative;
}

.overlay-footer {
    position: absolute;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 90%;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bg-photo-footer {
    background: url(/images/bg-lawer1.jpg);
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    overflow: hidden;
}

.social {
    position: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    color: #fff;
    padding: 1px;
}

.social-icons {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 25%;
    padding: 0px;
    margin: 0px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.social-icons svg {
    position: absolute;
    width: 4em;
    display: flex;
    padding-left: 20px;
    justify-content: center;
}

.social-icons .faceb {
    fill: #fff;
}

.social-icons .faceb:hover {
    fill: rgb(22, 56, 131)
}

.social-icons .whats {
    fill: #fff;
}

.social-icons .whats:hover {
    fill: rgb(24, 128, 55)
}


/** MOBILE **/

@media(max-width:600px) {
    .bg-photo {
        background: #000;
        background-size: auto;
        max-width: 100%;
    }
    .card-info {
        width: 75%;
        height: 30%;
        font-size: .9em;
        text-align: center;
    }
    .avatar img {
        max-width: 220px;
        max-height: 220px;
    }
    .content {
        flex-direction: column;
        height: 90vh;
        width: 90vw;
        margin: 0 auto;
    }
    .box-content {
        margin: 20px auto;
        font-size: 1em;
        max-width: 85vh;
        padding: 10px;
    }
    .box-content div {
        max-width: 90vw;
        height: 40vh;
        padding: 10px;
    }
    .box-content p {
        flex-direction: column;
        margin: 0 auto;
    }
    .box-contact {
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;
        font-size: 1em;
        margin: 20px auto;
        width: 95%;
        justify-content: center;
    }
    .box-contact img {
        margin: 10px auto;
        max-width: 60%;
    }
    .social-icons {
        width: 50%;
    }
}

@media(max-width:600px) {
    .content {
        padding: 0;
        margin: 0 auto;
        max-width: 98%;
    }
    .box-content {
        max-width: 90%;
        height: 550px;
        margin: 20px auto;
    }
    .box-contact {
        max-width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 425px) {
    .wrapper {
        max-width: 100vw;
    }
    .bg-photo {
        max-width: 100%;
    }
    .content {
        height: 750px;
    }
    .overlay {
        max-width: 100%;
    }
}

@media (max-width:812px) and (orientation: landscape) {
    .bg-photo {
        background: #000;
        width: 100vw;
        height: 100vh;
    }
    .card-info {
        flex-direction: row;
        min-height: 35%;
    }
    .avatar img {
        width: 190px;
        height: 190px;
    }
    .card-info {
        max-width: 90%;
        height: 40%;
        margin-bottom: 20px;
        font-size: .8em;
        padding: 20px;
        flex-direction: column;
    }
    .content {
        flex-direction: column;
        height: 650px;
        width: 100vw;
        margin: 20px auto 20px;
    }
    .content div {
        min-height: 40%;
    }
    .box-content {
        margin: 25px auto 15px;
        max-width: 90vw;
        padding-bottom: 20px;
    }
    .box-contact {
        margin: 0 auto 45px;
        width: 90vw;
        text-align: center;
    }
    .social-icons {
        width: 40%;
    }
}

@media (max-width:600px) and (orientation: landscape) {
    .wrapper {
        height: 100vh;
    }
    .bg-photo {
        min-height: 500px;
    }
    .content {
        min-height: 600px;
    }
    .box-content div {
        min-height: 50vh;
    }
}

@media (max-width:375px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .content {
        height: 100vh;
        margin: 0 auto;
    }
    .box-content {
        max-height: 55vh;
    }
    .box-content div {
        justify-content: center;
        max-height: 60vh;
        height: 90%;
    }
}